/*
 * SMM Custom styles
 */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: none;
}

#screensaver {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /*width: 1920;*/
  /*height: 1080; !important*/
  margin: 0;
  padding: 0;
  background: red;
  z-index: 1001;
}

#credit {
  position: fixed;
  top: 0;
  bottom: 0;
  font-size: .8rem;
  font-weight: lighter;
  margin: auto;
  height: 1.5em;
  width: 770px;
  color: white;
  -webkit-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  -moz-transform-origin: 0 50%;
  -moz-transform: rotate(-90deg) translate(-50%, 50%);
  -ms-transform-origin: 0 50%;
  -ms-transform: rotate(-90deg) translate(-50%, 50%);
  -o-transform-origin: 0 50%;
  -o-transform: rotate(-90deg) translate(-50%, 50%);
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 50%);
  left: 1900px;
  /*background: #FFF;*/
  color: #BBB;
  z-index: 1000;
}

#progress {
  font-size: 2.4rem;
}

.cp {
    stroke: #000;
    stroke-width: 5;
    fill: #000;
}

.firefox .cp {
    stroke-width: 5.0;
}

/* Fonts */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
  font-family: 'pnova', Fallback, sans-serif;
  font-size: 1em;
}

/* Toolbar */
#toolbar {
  /*border-top: 2px solid #000;*/
  /*background: #FFF;*/
  position: absolute;
  left: 0;
  bottom: 0;
  width: 96%;
  height: 120px;
  padding: 15px 2% 0 2%;
  margin: 0;
  z-index: 99;
  pointer-events: none;

  background: rgb(96,96,96); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(255,255,255,1) 4%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(4%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(255,255,255,1) 4%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(255,255,255,1) 4%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(255,255,255,1) 4%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(255,255,255,1) 4%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#toolbar #headline,
#toolbar #scale-box {
  border-right: 1px solid #333;
  float: left;
}

/* Title */
#toolbar #headline {
  width: 12%;
  margin-right: 1%;
}

#headline h1 {
  color: #000;
  font-family: 'fairfax', Fallback, sans-serif;
  font-size: 3.2rem;
  line-height: 1em;
}

/* Legend */
#scale-box {
  width: 21%;
  padding-top: 0;
  padding-right: 1.5%;
  height: 92px;
}

/* We need to be more explicit here to override a parent style */
#toolbar #scale-box p {
  margin: 0 15px;
}

#scale-label {
  color: #000;
  font-size: 1.7rem;
  line-height: 1.5em;
}

#scale {
  width: 100%;
  height: 32px;
}

#scale-label-slow,
#scale-label-fast {
  color: #333;
  font-size: 1.3em;
  margin: 0 15px;
}

#scale-label-slow {
  clear: both;
  float: left;
}

#scale-label-fast {
  float: right;
}

/* Date pickers */
#date-pickers{
  padding-top: 8px;
}

.date-picker {
  float: right;
  background-color: #FFF;
  box-shadow: 0 2px 14px #909090;
  border-radius: 0.4rem/0.4rem;
  padding: .8rem 1rem;
  pointer-events: all;
  margin: 0 0 0 .7em;
  line-height: .5rem;
}

a, .text-button {
    color: #000;
}

.text-button.disabled {
    color: #444444;
}

a:hover, a:focus, .no-touch .text-button:hover, .no-touch .text-button:focus, .text-button:active {
    color: #000;
    cursor: none;
}

.date-picker span.text-button {
  color: #000;
  font-size: 1.7rem;
}
.date-picker.highlighted {
  background: rgb(243, 140, 47);
}

.date-picker.highlighted span.text-button {
  color: black;
}

.date-string {
  font-size: 1.0rem;
}

/* Messages and alerts */
#details {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 20%;
}

@font-face {
    font-family: 'pnova';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fairfax';
    src: url('../fonts/fairfaxstationnf-webfont.eot');
    src: url('../fonts/fairfaxstationnf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fairfaxstationnf-webfont.woff') format('woff'),
         url('../fonts/fairfaxstationnf-webfont.ttf') format('truetype'),
         url('../fonts/fairfaxstationnf-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/dinroundot-webfont.eot');
    src: url('../fonts/dinroundot-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinroundot-webfont.woff') format('woff'),
         url('../fonts/dinroundot-webfont.ttf') format('truetype'),
         url('../fonts/dinroundot-webfont.svg') format('svg');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

@font-face {
    font-family: 'din-out';
    src: url('../fonts/dinroundot-light-webfont.eot');
    src: url('../fonts/dinroundot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinroundot-light-webfont.woff') format('woff'),
         url('../fonts/dinroundot-light-webfont.ttf') format('truetype'),
         url('../fonts/dinroundot-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeutrafaceSlabDisplay-Bold';
    src: url('../fonts/NeutrafaceSlabDisplay-Bold.eot');
    font-weight: normal;
    font-style: normal;
}

